<% @users.each do |f| %>
<p>
 Name: <%= f.name %> <br />
 Photo: <%= f.photo %> <br />
 Bio: <%= f.bio %> <br />
 Postscounter: <%= f.postscounter %> <br />
 CreatedAt: <%= f.created_at %> <br />
 Updatedat: <%= f.updated_at %>
</p>
<% end %>