<%# <p>Show users</p>%>
<h1>A given User detail with posts</h1>
<div class="profile">
  <section class="user-box">
    <%= render partial: "user", locals: { user: @user} %>
  </section>
  <section class="bio">
    <h4> Bio </h4>
    <%= @user.bio %>
  </section>
  <div class="user_post">
   <% @user.most_recent_posts.each do |post| %>
      <%= render 'shared/post', post:post %>
   <%end%>

</div>
<div class="button_holder">
<button>
<%= link_to 'Create new post', new_user_post_path(@user)%>
</button>
 <%= link_to 'See all posts', "#{@user.id}/posts" %>
</button>
<button>
 <%= link_to 'Back', :back %>
</button>
</div>